.container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.header__top {
  height: 80px;
  background: #f44620;
  background: -moz-linear-gradient(top, #ff5c2d 0%, #f44620 100%);
  background: -webkit-linear-gradient(top, #ff5c2d 0%, #f44620 100%);
  background: linear-gradient(to bottom, #ff5c2d 0%, #f44620 100%);
  display: flex;
  align-items: center; }
  .header__top--logo {
    display: flex;
    align-items: center;
    padding-left: 7px; }
    .header__top--logo-text {
      color: #fff;
      font-family: 'Chelsea Market', cursive;
      font-size: 30px;
      padding: 0 7px; }
      .header__top--logo-text-small {
        padding: 0 7px;
        color: #fff;
        font-family: 'Telegrafico';
        font-weight: normal;
        font-size: 14px; }
  .header__top--nav {
    margin-left: auto; }
    .header__top--nav ul li {
      font-size: 14px;
      display: inline-block;
      font-family: 'Telegrafico';
      margin-right: 10px;
      color: #fff; }
  .header__top--basket {
    display: flex;
    align-items: center;
    margin-right: 15px;
    border: 1px solid #ef3717;
    border-radius: 4px;
    box-shadow: 0 16px 49px -20px #000000; }
    .header__top--basket-badge {
      display: none; }

.header__middle {
  height: 40px;
  background: #fbf2d3 url("../img/header-middle-bg.png");
  background-size: cover;
  display: flex;
  align-items: center; }
  .header__middle .container {
    justify-content: flex-start; }
  .header__middle-img {
    padding-left: 7px;
    width: 17px;
    height: 17px;
    margin: auto 0; }
  .header__middle--nav-menu {
    padding: 0; }
    .header__middle--nav-menu li {
      display: inline-block;
      font-family: Terminal-Dosis-Book;
      font-size: 16px;
      padding: 0 20px;
      height: 100%;
      line-height: 40px; }
      .header__middle--nav-menu li a {
        text-decoration: none;
        color: #7d7253; }
      .header__middle--nav-menu li:hover {
        background: #fbf2d3;
        background: -moz-linear-gradient(top, #f0e4b8 0%, #fbf2d3 99%);
        background: -webkit-linear-gradient(top, #f0e4b8 0%, #fbf2d3 99%);
        background: linear-gradient(to bottom, #f0e4b8 0%, #fbf2d3 99%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbf2d3', endColorstr='#f0e4b8', GradientType=0); }

.header__bottom {
  display: flex;
  align-items: center;
  height: 45px;
  background: #f8f5f1;
  background: -moz-linear-gradient(top, #f8f5f1 0%, #f9f6f2 100%);
  background: -webkit-linear-gradient(top, #f8f5f1 0%, #f9f6f2 100%);
  background: linear-gradient(to bottom, #f8f5f1 0%, #f9f6f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f5f1', endColorstr='#f9f6f2', GradientType=0); }
  .header__bottom .container {
    display: flex;
    justify-content: space-between; }
  .header__bottom--text {
    padding-left: 7px;
    font-family: Terminal-Dosis-Book;
    font-style: italic;
    font-size: 14px;
    line-height: 45px;
    color: #969695; }
  .header__bottom-right {
    display: flex; }
  .header__bottom--social ul li {
    display: inline;
    margin: 0 5px; }
  .header__bottom--currency {
    margin: auto 0;
    padding: 0 15px; }
    .header__bottom--currency select {
      width: 130px; }
  .header__bottom--search {
    margin: auto 0;
    padding: 0 5px 0 0; }
    .header__bottom--search select {
      width: 180px; }

/*# sourceMappingURL=custom.css.map */
